body{
  background-color: black;
}

h1{
  color: blue;
}

h2{
  color: blue;
}

.cor1{
  background-color: blue;
}

.nav-link{
  color: black;
}

.navbar-brand{
  color: black;
}

